.contacts li a.twitter:hover {
  color: #08a0e9;
}

.contacts li a.mails:hover {
  color: #d44638;
}

.contacts li a.instagram:hover {
  color: #3f729b;
}

.lazy-trump {
  display: none;
}

.image,
.gif {
  cursor: pointer;
  background: inherit;
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

#gif img {
  display: none;
}

#gif:hover img {
  display: block;
}
